<h1>Listing lands</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Price</th>
    <th>Location</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lands.each do |land| %>
  <tr>
    <td><%= land.title %></td>
    <td><%= land.price %></td>
    <td><%= land.location %></td>
    <td><%= land.description %></td>
    <td><%= link_to 'Show', land %></td>
    <td><%= link_to 'Edit', edit_land_path(land) %></td>
    <td><%= link_to 'Destroy', land, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Land', new_land_path %>
