<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @land.title %>
</p>

<p>
  <b>Price:</b>
  <%= @land.price %>
</p>

<p>
  <b>Location:</b>
  <%= @land.location %>
</p>

<p>
  <b>Description:</b>
  <%= @land.description %>
</p>


<%= link_to 'Edit', edit_land_path(@land) %> |
<%= link_to 'Back', lands_path %>
