<div class="row-fluid">
				<div class="span12">
				
					<%- model_class = Property -%>
						
					    <% @lands.in_groups_of(5, false) do |every_six_properties| %>
					    <div class="row-fluid">
					    	<% every_six_properties.each do |property| %>
					          <div class="span3" style="margin-left:5px">

								  <div class="thumbnail">
								  	<i class="tag"></i>
						          	<p><%=  image_tag property.avatar.url(:medium) %></p>
						          	<div class="caption">
							          	<h5><%= property.title %></h5>
							          	<p>Location:<%= property.location %></p>
							          	<p><span class="">$<%= property.price %></span></p>
							          	<h4><%= property.contact %></a></h4>
							            
							            
							            </b><%= property.description %>
							        </div>
							      </div>
					            
					          </div>

					      <% end %>
					    </div>

					<% end %>
				
					<%= paginate @properties%>
				</div>
			</div>
		