


	<div class="row-fluid">
		<div class="span2">
			<ul class="nav nav-list">
				<li class="nav-header"><font size="+1" color="blue">Categories</font></li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						Sale
					<b class="caret offset3"></b>
					</a>
					<ul class="dropdown-menu">
						<li><a href="/">Land </a></li>
						<li><a href="#">House</a></li>
						<li><a href="#">Other</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						Rent
					<b class="caret offset3"></b>
					</a>
					<ul class="dropdown-menu">
						<li><a href="/">Land </a></li>
						<li><a href="#">House</a></li>
						<li><a href="#">Other</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						Lease
					<b class="caret offset2"></b>
					</a>
					<ul class="dropdown-menu">
						<li><a href="/">Land </a></li>
						<li><a href="#">House</a></li>
						<li><a href="#">Other</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
					Others
					<b class="caret offset2"></b>
					</a>
					<ul class="dropdown-menu">
						<li><a href="/">Surveying </a></li>
						<li><a href="#">Architectural designings</a></li>
						<li><a href="#">Building materials</a></li>
						<li><a href="/">Renovating & Building</a></li>
						<li><a href="#">Insurance companies experts</a></li>
						<li><a href="#">Land registration (Buganda)</a></li>
					</ul>
				</li>
					
				</li>
			</ul>


		</div>
		<div class="span8">
			<div class="row-fluid">
				<div class="span7" style="background-color:#efefef; height:210px;">
			    	<%= image_tag( "phone.png", :size =>"100x100") %>
			    </div>
				<div class="span5">
					
		            <div id="myCarousel" class="carousel slide fill">
						<!-- Carousel items -->
						<div class="carousel-inner" style ="width:100%;height:100%;background-position:center;background-size:cover;">
							<div class="active item">
								<%= image_tag( "images_5.jpg", :size => '500X500') %>
							</div>
							<div class="item">
								<%= image_tag( "images_7.jpg") %>
							</div>
							<div class="item">
								<%= image_tag( "images_8.jpg") %>
							</div>
						</div>
						<!-- Carousel nav 
						<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
						<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>-->

					</div>
			    </div>
			    
			</div>
			<br/>
			<div class="row-fluid">
				<div class="span12">
				
					<%- model_class = Property -%>
						
					    <% @properties.in_groups_of(5, false) do |every_six_properties| %>
					    <div class="row-fluid">
					    	<% every_six_properties.each do |property| %>
					          <div class="span3" style="margin-left:5px">

								  <div class="thumbnail">
								  	<i class="tag"></i>
						          	<p><%=  image_tag property.avatar.url(:medium) %></p>
						          	<div class="caption">
							          	<h5><%= property.title %></h5>
							          	<p>Loc




							          	ation:<%= property.location %></p>
							          	<p><span class="">$<%= property.price %></span></p>
							          	<h4><% %></a></h4>
							            
							            
							            </b><%= property.description %>
							        </div>
							      </div>
					            
					          </div>

					      <% end %>
					    </div>

					<% end %>
				
					<%= paginate @properties%>
				</div>
			</div>
		</div>
		<div class="span2">
			<marquee><font size="+1" color="blue">Advertise with us</font></marquee>
			<div style="background-color:#efefef; height:400px;">
			
		</div>		    	
	</div>	

</div>




	
 

 