<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @property.title %>
</p>

<p>
  <b>Price:</b>
  <%= @property.price %>
</p>

<p>
  <b>Location:</b>
  <%= @property.location %>
</p>

<p>
  <b>Description:</b>
  <%= @property.description %>
</p>
<%= image_tag @property.avatar.url %>
<%= image_tag @property.avatar.url(:medium) %>
<%= image_tag @property.avatar.url(:thumb) %>
