<h1>Listing my_properties</h1>

<table>
  <tr>
    <th>Type</th>
    <th>Status</th>
    <th>Size</th>
    <th>Plot number</th>
    <th>Village</th>
    <th>Price</th>
    <th>Email</th>
    <th>Phone</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @my_properties.each do |my_property| %>
  <tr>
    <td><%= my_property.type %></td>
    <td><%= my_property.status %></td>
    <td><%= my_property.size %></td>
    <td><%= my_property.plot_number %></td>
    <td><%= my_property.village %></td>
    <td><%= my_property.price %></td>
    <td><%= my_property.email %></td>
    <td><%= my_property.phone %></td>
    <td><%= link_to 'Show', my_property %></td>
    <td><%= link_to 'Edit', edit_my_property_path(my_property) %></td>
    <td><%= link_to 'Destroy', my_property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New My property', new_my_property_path %>
