<h1>Listing to_do_lists</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @to_do_lists.each do |to_do_list| %>
  <tr>
    <td><%= to_do_list.name %></td>
    <td><%= link_to 'Show', to_do_list %></td>
    <% if can? :edit, to_do_list %>
      <td><%= link_to 'Edit', edit_to_do_list_path(to_do_list) %></td>
    <% end %>
    <% if can? :destroy, to_do_list %>
      <td><%= link_to 'Destroy', to_do_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if can? :create, ToDoList %>
  <%= link_to 'New To do list', new_to_do_list_path %>
<% end %>