<!DOCTYPE html>
<html>
<head>
  <title>Property Connect</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/header'%>
	<div class="container">
  <div style="margin-top:30px;"></div>
				
		<%= yield %>
	</div>
	<%= render 'layouts/footer'%>

	<script type="text/javascript">
            $('.carousel').carousel({
            interval: 2000
            })

    </script>
</body>
</html>
